.loading-overlay {
  position: fixed;
  top: 100px; /* Ajusta según el alto del header */
  left: 0;
  width: 100%;
  height: calc(100% - 100px); /* Para que no cubra el header */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 999;
  gap: 1.5rem;
}

.loading-overlay > span{
    font-size: 2rem;
    animation: textFade 2s infinite;
    animation-delay: 1s;
}

.dots-loader {
  display: flex;
  gap: 2rem;
}

.dot {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #9E4143;
  opacity: 0;
  animation: fade 3s infinite;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}
.dot:nth-child(2) {
  animation-delay: 0.3s;
  background-color: #D0A81C;
}
.dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes fade {
  0% { opacity: 0; }
  20% { opacity: 1; }
  40% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes textFade{
    20% { opacity: .8; }
    40% { opacity: .6; }
    60% { opacity: .4; }
    80% { opacity: .2; }
    100%{ opacity: 1; }
}