.schedules {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 60%;
    margin: auto;
    gap: 2rem;
    border-radius: 10px;
}

.show_hours {
    font-size: 1.2rem;
}

.select_day select {
    padding: 0.5rem;
    font-size: 1.2rem;
    width: 50%;
}

.day_and_hours {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.day_and_hours button {
    min-width: min-content;
    width: 20%;
    padding: 0.7rem;
    font-size: 1.2rem;
    background-color: #A6464E;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.day_and_hours button:hover {
    background-color: #9e2e37;
}

.day {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 4rem;
}

.day input {
    appearance: none;
    padding: 0.7rem;
    border: 2px solid #555;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    position: relative;
}

.day input:checked {
    background-color: #A6464E;
}

.day input:checked::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 14px;
    height: 14px;
    background-image: url('/src/static/svg/check.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.hours_in_day {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.hour_in_day {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 23%;
}

.hour_in_day input {
    appearance: none;
    padding: 0.7rem;
    border: 2px solid #555;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    position: relative;
}


.hour_in_day input:checked {
    background-color: #A6464E;
}

.hour_in_day input:checked::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 14px;
    height: 14px;
    background-image: url('/src/static/svg/check.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width:900px) {
    .select_day select {
        width: 100%;
    }

    .schedules {
        width: 90%;
    }
}