.schedules{
    padding: 2rem;
    display:flex;
    flex-direction: column;
    background-color: #fff;
    width: 60%;
    margin: auto;
    gap: 2rem;
    border-radius: 10px;
}

.show_hours{
    font-size: 1.2rem;
}

.select_day select{
    padding: 0.5rem;
    font-size: 1.2rem;
    width: 20%;
}

.day_and_hours{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.day_and_hours button{
    min-width: min-content;
    width: 20%;
    padding: 0.7rem;
    font-size: 1.2rem;
    background-color: rgb(0, 174, 255);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.day_and_hours button:hover{
    background-color: rgb(2, 139, 202);
}

.day{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 4rem;
}

.day input{
    appearance: none;
    padding: 0.7rem;
    border: 2px solid #555;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    position: relative;
}

.day input:checked{
    background-color: #4caf50;
}

.day input:checked::after{
    content: 'x';
    color: white;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 4px;
}

.hours_in_day{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.hour_in_day{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 23%;
}

.hour_in_day input{
    appearance: none;
    padding: 0.7rem;
    border: 2px solid #555;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    position: relative;
}


.hour_in_day input:checked{
    background-color: #4caf50;
}

.hour_in_day input:checked::after{
    content: 'x';
    color: white;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 4px;
}