.psycho_card {
    width: 80%;
    margin-inline: auto;
    padding: 2rem;
    display: flex;
    gap: 5rem;
    border-radius: 10px;
    background-color: #fff;
}

.psycho_image {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    max-width: min-content;
    max-height: min-content;
}

.psycho_image img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.card_description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70%;
    align-items: center;
}

.psycho_decription {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.psycho_decription h1 {
    font-size: 3rem;
    color: #A6464E;
}

.psycho_decription p {
    font-size: 1.5rem;
    white-space: pre-line;
    max-height: 450px;
    width: 100%;
    overflow-y: scroll;
    padding: .3rem;
    box-sizing: border-box;
}

.psycho_decription p::-webkit-scrollbar {
    width: 8px; /* ancho del scroll */
}

.psycho_decription p::-webkit-scrollbar-thumb {
    background-color: #a6464ea9; /* color de la "barra" */
    border-radius: 4px;
    border: 2px solid #f0f0f0;
}

.psycho_button {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.psycho_button a,
.psycho_button p {
    font-size: 1.5rem;
    color: #D9AA1E;
}

.no_psycho {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: lighter;
}