@media (max-width: 1000px) {
    .header_pages{
        font-size: 1rem;
    }

    .users_table {
        overflow-x: scroll;
    }
    
}

@media (max-width: 900px) {
    .psycho_card {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .psycho_decription > p{
        width: 110%;
    }

    .psycho_decription>h1 {
        text-align: center;
    }

    .day_and_hours{
        align-items:center;
        justify-content: center;
    }

    .hours_in_day{
        align-items: center;
        justify-content: center;
    }

    .users_table {
        overflow-x: scroll;
        max-width: 500px;
    }

}

@media (max-width: 800px) {
    .header_pages {
        display: none;
    }

    .header_menu {
        display: inline;
    }

    .pyscho_profile {
        display: none;
    }

    .select_day {
        width: 100%;
    }


    .appointments > h1{
        font-size: 2.2rem;
    }

}

@media (max-width : 700px) {
    .appointments_section {
        flex-direction: column;
    }

    footer {
        font-size: .9rem;
        justify-content: flex-start;
    }

    .pyscho_profile_section {
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 90%;
    }

    .section_psycho_image{
        align-items: center;
    }

    .psycho_decription>h1 {
        font-size: 2rem;
    }

    .psycho_decription>p {
        font-size: 1.2rem;
    }

    .hour_in_day {
        flex-direction: column;
    }

    .appointments > h1{
        font-size: 2rem;
    }

}

@media (max-width: 500px) {
    .psycho_decription>h1 {
        font-size: 1.6rem;
    }

    .psycho_image img {
        height: 200px;
        width: 200px;
    }

    .burguer_menu.open {
        width: 80%;
    }

    .users_table {
        overflow-x: scroll;
        max-width: 350px;
    }

    .new_user_section{
        flex-direction: column;
    }

    .profile_description >h1{
        font-size: 2rem;
    }

    .description > p{
        font-size: 1.2rem;
    }

    .logo_container a > p{
        font-size: 1.2rem;
    }
}

@media (max-width : 450px) {
    .dialog_options {
        flex-direction: column-reverse;
        align-items: start;
    }

    .profile_description >h1{
        font-size: 1.6rem;
    }

    .description > p{
        font-size: .9rem;
    }
}