.description_secction{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70%;
}

.pyscho_profile_section{
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content:center;
}

.profile_psycho_image{
    padding: 2rem;
    background-color: #fff;
    width: 100%;
    max-width: 300px;
    max-height: 100%;
    border-radius: 10px;
    color: #D9AA1E;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.profile_psycho_image img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.profile_description{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    width: 65dvw;
}

.description{
    max-height: 37dvh;
    overflow-y: scroll;
}

.profile_description h1{
    font-size: 3rem;
    color: #A6464E;
}

.profile_description p{
    font-size: 1.5rem;
    white-space: pre-line;
}

.profile_edit_buttons{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 2rem;
    font-size: 1.3rem;
}

.go_to_change_password{
    color: #4267B3;
}

.go_to_edit_profile{
    padding: 1rem;
    background-color: #A6464E;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.go_to_edit_profile:hover{
    background-color: #9e2e37;
}

.form_edit_psycho{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 10px;
    min-width: min-content;
    width: 65dvw;
}
 
.edit_inputs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    padding: 2rem;
    height: 500px;
}

.edit_inputs label{
    font-size: 1.5rem;
    font-weight: bold;
}

.edit_inputs input{
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.2rem;
}

.edit_inputs textarea{
    padding: 0.5rem;
    border: 1px solid black;
    width: 100%;
    height: 500px;
    border-radius: 5px;
    font-size: 1.2rem;
    resize: none;
    box-sizing: border-box;
    padding: 1rem;
}

.button_info_submit{
    display: flex;
    justify-content: end;
    align-items: center;
}

.button_info_submit button{
    padding: 1rem;
    font-size: 1rem;
    background-color: #A6464E;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
}

.button_info_submit button:hover{
    background-color: #9e2e37;
}

.section_psycho_image{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 2rem;
}

.section_psycho_image a{
    color: #fff;
    background-color: #A6464E;
    text-decoration: none;
    border-radius: 5px;
    padding: 1rem;
}

.section_psycho_image a:hover{
    background-color: #9e2e37;
}

.section_psycho_image input[type='file']{
    display: none;
}

.section_psycho_image label{
    display: inline-block;
    padding: 1rem;
    font-size: 1rem;
    background-color: #A6464E;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.section_psycho_image label:hover{
    background-color: #9e2e37;
}